doctype html
html
    head
      title iGymAcademy
      block scripts
      block style 
         
    body
      nav#navbar.nav 
        h1 iGymAcademy
        ul 
          li #[a(href='/') Home ]
          li #[a(href='/about') About ]
          li #[a(href='/services') Services ]
          li #[a(href='/contact') Contact Us ]

      block content
      