extends base.pug


block scripts
  script(src="../static/index.js")

block style
   style 
    include ../static/services.css  
    include ../static/style.css  


block content 
       h1.title Our Services
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/1.jpg")
                div.card-content
                    p This is the best workout academy of the universe
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/2.jpg")
                div.card-content
                    p This is the best workout academy of the universe
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/3.jpg")
                div.card-content
                    p This is the best workout academy of the universe
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/4.jpg")
                div.card-content
                    p This is the best workout academy of the universe
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/5.jpg")
                div.card-content
                    p This is the best workout academy of the universe
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/6.jpg")
                div.card-content
                    p This is the best workout academy of the universe
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/7.jpg")
                div.card-content
                    p This is the best workout academy of the universe
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/8.jpg")
                div.card-content
                    p This is the best workout academy of the universe
       div.card
            h3 Workout Perfection
            div.card-box
                div.card-img
                    img(src="/static/9.jpg")
                div.card-content
                    p This is the best workout academy of the universe