@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Jost:wght@500&family=Open+Sans:wght@400;600&display=swap');

body{
    height: 100vh;
    background-image: linear-gradient(to left bottom, #ffffff, #fbfbff, #f5f7ff, #edf3ff, #e5f0ff, #e2eeff, #dfebff, #dde9ff, #e2e6ff, #eae2ff, #f4deff, #ffdaf9);
}
.spImage{
    height: 100px;
    margin: 25px;
    /* border: 5px solid yellow; */
 
}
.spImage:hover{
    scale: 1.1;
}
.title{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: 'Jost', sans-serif;
}